

nav{
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    right: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0 5%;
    height: 65px;
    background-color: black;
}

nav .logo{
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 28px;
    color: white;
}

nav .links{
   float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
   /* justify-content: space-around;*/
    align-items: center;
    }
    
    nav .links li{
        list-style: none;
    }  
    
    nav .links a{
        display: block;
        /*padding: 1em;*/
        font-size: 16px;
        font-weight: lighter;
         color: #fff;
        text-decoration: none;
        margin-left: 70px;
    }
    
    #nav-toggle{
        position: absolute;
        top: -100px;
    }
    
    nav .icon-burger{
        display: none;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        }
        
        nav .icon-burger .line{
            width: 30px;
            height: 5px;
            background-color: #fff;
            margin: 5px;
            border-radius: 3px;
            transition: all .3s ease-in-out;
        }
        
        @media screen and (max-width:768px){
            nav .logo{
                float: none;
                width: auto;
                justify-content: center;
            }
            nav .links{
                float: none;
                position: fixed;
                z-index: 9;
                left:0;
                right: 0;
                top: 100px;
                bottom: 100%;
                width:auto;
                height: auto;
                flex-direction: column;
               
                background-color: rgba(0,0,0,0.8);
                overflow: hidden;
                transition: all .5s ease-in-out;
                }
                nav .links a{
                    font-size: 20px;
                }
                nav .icon-burger{
                display: block;
                }
                nav :checked ~ .icon-burger .line:nth-child(1){
                    transform: translateY(10px) rotate(255deg);
                }
                nav :checked ~ .icon-burger .line:nth-child(3){
                    transform: translateY(-10px)rotate(-255deg);
                }
                 nav :checked ~ .icon-burger .line:nth-child(2){
                    opacity: 0;
                }
        }





#center{
    margin-left: auto;
    margin-right: auto;
    display:block;
    width:50%;
    text-align: center;
    margin-top: 50px;
    font-size: 12px;
    font-weight: bolder;
}

.image{
    
    max-width: 100%;
    display: block;
    margin-top: -800px;
}

.services{
    text-align: center;
    font-weight: bolder;
    margin-top: 40px;
    font-family: "Times New Roman", Times, serif;
}

.subhead{
    text-align: center;
    font-weight: lighter;
    margin-top: 4px;
}



#dec{
    margin-left: 320px;
}


#decc{
    
    margin-left: 95px;
}
.colo{
    color:black;
    text-align: left;
    
}

.colour{
    color:#8b93cd;
    text-align: left;
}

.row{
    margin-top: 70px;
}


#img{
    margin-top: -80px;
    width:100%;
}


.container{
    font-size: 150%;
    font-family:monospace;
}

#shift{
    margin-top: 10px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    background-color: #c7bbc9;
}

#abt{
    text-align: center;
}
.decor{
    background-color: #03396c;
    padding:15px 20px 15px 20px;
     border:100px;
     color: white;
     text-align: center;
}

html {
  scroll-behavior: smooth;
}

.captions{
    color:#000;
    padding:0px 10px 10px;
    font-weight:lighter;
    text-align: center;

}

.backc{
    background-color: #c7bbc9;
   
}

.adjust{
    margin-top: -30px;
}



@media (min-width:320px){
    /*.rowdy{
        width: 320px;
         }*/
         .image{
             max-width: 100%;
             margin-top: -180px;
         }
         .services{
             text-align: center;
             margin-top: 9px;
             font-size: 20px;
         }
         .subhead{
             text-align: center;
             margin-left: 14px;
             margin-right: 14px;
             font-size: 10px;
         }
         
         .teach{
             text-align: center;
             margin-right: 90px;
         }
         
         .learn{
             text-align: center;
             margin-right: 90px;
         }
         
         
}

@media (min-width:481px){
    .services{
        text-align: center;
        font-size:20px;
    }
    .subhead{
        text-align: center;
        font-size: 14px;
        font-style: italic;
    }
    .text{
        font-size: 12px;
    }
    
    .main{
        font-weight: bolder;
    }
    .backc{
        width: 100%;
    }
}

@media (min-width:768px){
    .learn{
        text-align: center;
        margin-left: 150px;
    }
    .teach{
        text-align: center;
        margin-left: 150px;
    }
    
    .main{
        font-size: 30px;
       
        }
        .submain{
            font-size: 20px;
        }
        .image{
            margin-top: -200px;
        }    
}

@media (min-width:1025px){
    .teach{
        margin-left: 30px;
        text-align: center;
    }
    .learn{
        margin-left: 30px;
        text-align: center;
    }
    .image{
        margin-top: -300px;
        width: 100%;
    }
    .nav .links a li{
        padding: 4px;
    }
}

@media (min-width:1201px){
    .image{
        margin-top: -300px;
    }
    .learn{
        margin-left: 430px;
        text-align: center;
    }
    .teach{
        margin-left: 430px;
        text-align: center;
    }
}

